body {
  background-color: rgb(228, 210, 245);
  font-family: "Protest Revolution", sans-serif;
}
.weather-app {
  background-color: #fff;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 80px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 16px;
}
.search-form-input {
  padding: 20px;
  background-color: #f9f7fe;
  border-radius: 6px;
  border: none;
  width: 70%;
  font-size: 16px;
}

.search-form-button {
  background-color: rgba(160, 10, 184, 0.432);
  border: none;
  padding: 20px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
footer {
  text-align: center;
  border-bottom: 1px solid #f9f7fe;
  padding: 40px 0 0 0;
  font-size: 15px;
}

a {
  color: rgb(177, 40, 177);
}
main {
  padding: 30px 0 0 0;
}
.data {
  display: flex;
  justify-content: space-between;
}
.city {
  font-size: 35px;
  margin: 0;
  line-height: 48px;
}
.time {
  font-size: 15px;
}
strong {
  color: rgb(21, 159, 169);
}
.temperature {
  display: flex;
}
.app-value {
  font-size: 60px;
}
.icon {
  margin-top: 20px;
  font-size: 25px;
}
.app-symbol {
  margin-top: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forest-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 38px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.max {
  padding: 0 10px;
}

.min {
  padding: 0 10px;
}

.forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: rgb(21, 159, 169);
}
